body{
    background-color: beige;
}
@media screen and (min-width: 600px) {
    nav{
        display:flex;
        border: green solid 2px;
        justify-content: space-around;
        padding:10px;
    }
    
        
}
@media screen and (max-width: 599px) {
    nav{
        display:flex;
        border: green solid 2px;
        justify-content: space-around;
        padding:10px;
    }
    
        
}

/* @media screen and (min-width: 600px) {
    body{
        background-color: red;
    }
}
@media screen and (min-width: 900px) {
    body{
        background-color: green;
    }
} */
/* @media screen and (width: 700px) {
    body{
        background-color: blue;
    }
}
@media screen and (max-width: 700px) {
    body{
        background-color: green;
    }
} */