body{
    background-color: beige;
}
nav{
    display:flex;
    border: chocolate solid 4px;
    justify-content: space-around;
    padding:10px;
}
nav a{
    margin:30px;
}

    
    
        
/* 
@media screen and (max-width: 600px) {
    nav{
        display:flex;
        border: green solid 2px;
        justify-content: space-around;
        padding:10px;
    }
    
        
} */
@media screen and (min-width: 600px) {
    nav{
        flex-direction:column;
        align-items:center;
    }
    body{
        
    }
        
}

/* @media screen and (min-width: 600px) {
    body{
        background-color: red;
    }
}
@media screen and (min-width: 900px) {
    body{
        background-color: green;
    }
} */
/* @media screen and (width: 700px) {
    body{
        background-color: blue;
    }
}
@media screen and (max-width: 700px) {
    body{
        background-color: green;
    }
} */